@import "normalize";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

@import "bourbon-nav";
@import "refills-styles";
@import "refills-nav";

@import "refills/cards";
@import "refills/navigation";
@import "refills/button-group";
@import "refills/image-gradient-dynamic";
@import "refills/tables";
@import "refills/tables-minimal";
@import "refills/tooltip";
@import "refills/vertical-tabs";
@import "refills/hover-tile-animation";
@import "refills/icon-bullet-points";
@import "refills/grid-items";
@import "refills/grid-items-lines";
@import "refills/comment";
@import "refills/browser";
@import "refills/centered-navigation";
@import "refills/search-tools";
@import "refills/device";
@import "refills/dropdown";
@import "refills/textures";
@import "refills/intro-text";

@import "refills/type-system-slab";

@import "refills/texture-legend";

header.centered-navigation {
  margin-bottom: 2em;
}

.card {
  float: none;
  display: inline-block;
  .card-image {
    max-height: none;
  }

  img:not([src]) {
    max-height: 352px;
  }
}

#everyone {
  max-width: 90%;
  margin: 0 auto;
}

.button-group {
  @include clearfix;
}
